<section class="container">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://github.com/luisomoreau/learn-full-stack-javascript-development-for-beginners/blob/master/assets/cookies-sweets-food-dessert-delicious-snack-sugar.jpg?raw=true" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cookies</h5>
        <p class="card-text">Here is my preview</p>
        <a href="#" class="btn btn-primary">Discover</a>
      </div>
    </div>
  </div>
</section>
